<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<connectionStrings>
  <add name="connstring" connectionString="Data Source=LAPTOP-MV4SOTRP\MSSQL;Initial Catalog=AnyStore;Integrated Security=True" />
  <add name="AnyStore.Properties.Settings.AnyStoreConnectionString"
   connectionString="Data Source=LAPTOP-MV4SOTRP\MSSQL;Initial Catalog=AnyStore;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>